header {
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 100%;
  padding-bottom: 200px;
  @media only screen and (max-width: 760px) {
    background-image: url("../images/bg-curvy-mobile.svg");
    padding-bottom: 0;
  }

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__links {
      width: 20%;
      display: flex;
      justify-content: space-between;
      height: fit-content;
    }

    @media only screen and (max-width: 760px) {
      img {
        width: 30%;
      }

      &__links{
        width: fit-content;
        gap: 10px;
      }
    }
  }

  &__content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 30px;
    margin-top: 70px;

    p {
      width: 70%
    }
    @media only screen and (max-width: 760px) {
      width: 98%;

      .text2{
        font-size: 23px;
      }

      P{
        width: 90%;
      }
    }
  }

}

